{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-0 mx-3">
    <div class="" style="margin-top: 130px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'men' %}" class=" text-pink text-decoration-none">Men</a></li>
                
            </ol>
        </nav>
    </div>

    <p class="fw-bold">Men Top-Wear:- <span class="text-muted"> {{ product_counts }}</span> </p>
    <div class="row">
        <div class="col-md-2 mx-3">
            <P class="fw-bold">FILTERS</P>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <button class="btn dropdown-toggle btn-sm rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Size
                </button>
                <ul class="dropdown-menu">
                    {% for i in size %}
                    <li>
                        <a class="dropdown-item" href="?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.price %}price={{ request.GET.price }}&{% endif %}size={{i.id}}">{{i.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            

        </div>
        

    </div>
</div>
<div class="container-fluid px-0">
    <div class="row border-top">
        <div class="col-md-2 mt-2  border-end">
            <div>
                <h6 class="fw-bold">Categories</h6>
                <div class="list-group list-group-flush">
                    {% for i in categories|slice:":2" %}
                    <label class="list-group-item border-0">
                        <!--input class="form-check-input me-1" type="checkbox" value="{{ i.id }}"-->
                        <a href="{% url 'men' %}?{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.price %}price={{ request.GET.price }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}categories={{ i.id }}" class="list-group-item list-group-item-action">
                            {{i.name }}</a>
                
                    </label>
                    {% endfor %}
                </div>
                

            </div>
            <div>
                <h6 class="fw-bold">Brands</h6>
                <div class="list-group list-group-flush">
                    {% for i in brand|slice:":2" %}
                    <label class="list-group-item border-0">
                        <!--input class="form-check-input me-1" type="checkbox" value=""-->
                        <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}{% endif %}{% if request.GET.price %}price={{ request.GET.price }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}brand={{ i.id }}"
                            class="list-group-item list-group-item-action">{{ i.name }}</a>

                    </label>
                    {% endfor %}
                </div>

            </div>
            <div>
                <h6 class="fw-bold">Price</h6>
                <div class="list-group list-group-flush">
                   
                    <label class="list-group-item border-0">
                        <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color }}&{% endif %}price=under-500" class="list-group-item list-group-item-action">under-500</a>                    </label>
                    </label>
                    <label class="list-group-item border-0">
                        <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color }}&{% endif %}price=500-2000" class="list-group-item list-group-item-action">500-2000</a>                    </label>
                    </label>
                    <label class="list-group-item border-0">
                        <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color }}&{% endif %}price=2000-5000" class="list-group-item list-group-item-action">2000-5000</a>                    </label>
                    </label>
                    <label class="list-group-item border-0">
                        <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color }}&{% endif %}price=5000" class="list-group-item list-group-item-action">Above 5000</a>                    </label>
                    </label>
                    <!-- Add more price ranges as needed -->
                </div>
            </div>
            
            <div>
                <h6 class="fw-bold">Color</h6>
                <div class="list-group list-group-flush">
                    {% for i in color %}
                    <label class="list-group-item border-0">
                        <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.brand %}brand={{request.GET.brand}}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}{% if request.GET.price %}price={{ request.GET.price }}&{% endif %}color={{ i.id }}" class="list-group-item list-group-item-action">{{ i.name }}</a>                    </label>
                   
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'men' %}?{% if request.GET.categories %}categories={{ request.GET.categories }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color}}&{% endif %}{% if request.GET.brand %}brand={{ request.GET.brand }}&{% endif %}{% if request.GET.size %}size={{ request.GET.size }}&{% endif %}{% if request.GET.color %}color={{ request.GET.color }}&{% endif %}price={{ i.id }}" class="list-group-item list-group-item-action">{{ i.name }}</a>                    </label>

        </div>
        <div class="col-md-10 mt-3">

            <div class="row">
                {% for product in  menswear_products %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <a class="" href="{% url 'details' product.id %}"><img src="{{ product.image.url }}"  class="card-img-top" alt="..." style="height: 250px;"></a>
                        <div class="card-body hover1">
                            <div class="info">
                                <h5>{{product.name}}</h5>
                                <small class="text-muted">{{ product.description }}</small>

                            </div>
                            <div class="info2 hidden">
                                <form action="{% url 'add_to_wishlist' product.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-light p-2"><i
                                    class="fa-regular fa-heart mx-1 " type="submit"></i>WISHLIST</button>
                            </form>
                                <small class="text-muted">{{product.size}}</small>
                            </div>
                            <div class="d-flex">
                                <p>RS:{{ product.price }}</p>
                                <small class="text-muted mx-2 text-decoration-line-through">RS 8888</small>
                                <p class="text-warning">(20 % off)</p>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            

        </div>
    </div>

</div>




{% endblock %}